/* Header Keyboard */
.keyboard-container{
  margin-top:60px;
  width: 100%;
  text-align: center;
  height: 300px;

}
.keyboard-container i{
  margin-top: 2rem;
  font-size: 10rem;
  color: white;
}
.keyboard-container h1{
  font-size: 3rem;
  margin-top: 1rem;
  color: #fff;
}

/* End Header Keyboard */

/* Keyboard Poster */
.poster-container{
  max-width: 1024px;
  margin: auto;
  height: 350px;
  background-image: url(../wallpaper/postkey.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* End Keyboard */


/* KeyboardCategory */
.keyboard-cate-container{
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items: center;
  max-width:1024px;
  margin: auto;
  
  
}
.keyboard-cate-item1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  width: 395px;
  height: 80px;
  background-image: url(../wallpaper/kcate1.png);
  cursor: pointer;
  transition: .3s;
  border-radius: 10px;
}
.keyboard-cate-item1 a{
  color: #fff;
}
.keyboard-cate-item2 a{
  color: #fff;
}
.keyboard-cate-item3 a{
  color: #fff;
}
.keyboard-cate-item2{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  width: 395px;
  height: 80px;
  background-image: url(../wallpaper/kcate2.png);
  cursor: pointer;
  transition: .3s;
  border-radius: 10px;
}
.keyboard-cate-item3{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  width: 395px;
  height: 80px;
  background-image: url(../wallpaper/mcate3.png);
  cursor: pointer;
  transition: .3s;
  border-radius: 10px;
}
.keyboard-cate-item1:hover{
  border: 2px solid red;
  border-radius: 40px;
}
.keyboard-cate-item2:hover{
  border: 2px solid red;
  border-radius: 40px;
}
.keyboard-cate-item3:hover{
  border: 2px solid red;
  border-radius: 40px;
}
/* End KeyboardCategory */

/* All keyboard */
.all-kb-container{
  margin-top: 4rem;
  color: #fff ;
  width: 100%;
  height: 65px;
  background: black ;
  display: flex;
  align-items: center;
  border-top: 2px solid red;
}
.all-kb-container h1{
  margin-left: 10px;
}

.product-all-container{
  width: 100% ;
  height: 1600px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,385px);
  grid-gap: 1rem;
  margin-top: 1rem;
}
.product-all-items{
  background: #fff;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all .3s;
  
}
.product-all-items:hover{
  border: 2px solid #ff4747;
}
.product-all-items img{
  widows: 150px;
  height: 150px;
}
.product-all-items h3{
  font-size: 1.5rem;
  margin-top: 2rem;
}
.product-all-items p{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: .5rem;
}
.product-all-items p a{
  display: block;
  padding: 15px 25px;
  background-color: red;
  color: #fff;
  
}

/* End All keyboard */

@media only screen and (max-width: 480px){
  /* Keyboard Poster */
  .poster-container{
    width: 100%;
    height: 300px;
    background-image: url(../wallpaper/rspro3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* End Keyboard */
  /* KeyboardCategory */
  .keyboard-cate-container{
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    flex-direction: column ;
  }
  
  /* End KeyboardCategory */
  .all-kb-container h1{
    margin-left: 10px;
    font-size: 1.5rem;
  }

  .product-all-container{
    width: 100% ;
    height: 4850px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(16,385px);
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  .product-all-items{
    background: #fff;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .3s;
    
  }
  .product-all-items:hover{
    border: 2px solid #ff4747;
  }
  .product-all-items img{
    widows: 150px;
    height: 150px;
  }
  .product-all-items h3{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .product-all-items p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: .5rem;
  }
  .product-all-items p a{
    display: block;
    padding: 15px 25px;
    background-color: red;
    color: #fff;
    
  }
  
  /* End All keyboard */

}